html,body{
  background-color: whitesmoke;
}

body.nav-active {
  overflow: hidden;
}

.image-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 200px;
  border-radius: 100px;
}

h1,
h2,
h3 {
  text-align: center;
}

/*@media screen and (max-width: 799px) {
  main {
    padding-top: calc(3rem + 4rem);
  }
}*/

/* overrides */
main {
  height: 100%;
  padding-top: 4rem;
}

nav {
  font-size: 16px;
  position: static;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  visibility: hidden;
  z-index: 1;
}

.navbar-brand {
  visibility: hidden;
}

@media screen and (min-width: 800px) {
  .navbar-brand {
    visibility: visible;
  }
}

@media screen and (min-width: 800px) {
  nav {
    display: block;
    visibility: visible;
    height: 4rem;
    width: 100%;
  }
}

.nav-active nav {
  visibility: visible;
  height: 100vh;
  width: 100%;
}

@media screen and (min-width: 800px) {
  .nav-active nav {
    width: 100px;
  }
}

.nav_list {
  text-align: left;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 50%;
}

@media screen and (min-width: 800px) {
  .nav_list {
    width: auto;
  }
}

@media screen and (max-width: 799px) {
  .nav_list {
    transform: translateY(-25px);
    opacity: 0;
  }

  .nav-active .nav_list {
    transform: translateY(0);
    opacity: 1;
    transition: all 500ms ease;
  }
}

.nav_list li {
  margin-bottom: 3em;
  line-height: 1.5em;
}

.nav_list li:last-of-type {
  margin-bottom: 0;
}

@media screen and (min-width: 800px) {
  .nav_list li {
    margin-bottom: 1.75em;
  }
}

.nav_list a {
  color: #9b9b9b;
  text-decoration: none;
  font-size: 2em;
}

.nav_list a.active {
  color: #111;
}

.nav_list a:hover {
  color: #111;
}

@media screen and (min-width: 800px) {
  .nav_list a {
    font-size: 1em;
  }
}

.burger_container {
  height: 4rem;
  display: flex;
  align-items: center;
  padding: 0 1.5rem;
  position: fixed;
  width: 100%;
  background: white;
  z-index: 2;
}

@media screen and (min-width: 800px) {
  .burger_container {
    display: none;
  }
}

.burger {
  position: relative;
  width: 28px;
  height: 28px;
  cursor: pointer;
}

.burger_meat {
  position: absolute;
  width: 28px;
  height: 2px;
  background: #111;
  top: calc(50% - 2px / 2);
  left: calc(50% - 28px / 2);
  transition: all 150ms ease-in;
}

.burger_meat--1 {
  transform: translateY(-10px);
}

.burger_meat--2 {
  width: calc(28px - 6px);
}

.burger_meat--3 {
  transform: translateY(10px);
}

.nav-active .burger_meat--1 {
  transform: rotate(45deg);
}

.nav-active .burger_meat--2 {
  opacity: 0;
}

.nav-active .burger_meat--3 {
  transform: rotate(-45deg);
}

.section {
  min-height: 100vh;
  padding: 1.5rem;
}

.navbar-brand {
  margin-left: 1.5rem;
}

.section-cover {
  height: calc(100vh - 4rem);
  text-align: center;
  font-size: large;
}

.seperator {
  height: 2rem;
}

.center {
  margin: auto;
  position: relative;
  top: 45%;
  transform: translateY(-55%);
}

@media screen and (min-width: 800px) {

  ul,
  li {
    display: inline
  }
}

.tags{
  display: inline;
  list-style: none;
}

@media screen and (min-width: 800px) {
  .social {
    margin: 0 10px;
  }
}

.fixed-top {
  z-index: 1;
}

.p-logo{
  width: 100px;
  height: 100px;
}

@media screen and (max-width: 799px) {
  .p-logo{
    margin: 10px;
  }


}
  .col-md{
    text-align: center;
  }
.card {
  width: 80%;
  margin: auto;
  margin-left: 10%;
  margin-top: 20px;
}